<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

  {%- if settings.favicon != blank -%}
  <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {%- endif -%}


  <title>
    {{ page_title }}
    {%- if current_tags %}
    &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %}
    &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %}
    &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'meta-tags' %}

  <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
  {{ content_for_header }}



  {% style %}:root
  {


  /* 100 is the smallest value 400 is medium 900 is maximum*/
  --color-accent-400: {{ settings.colors_accent_main }};
  --color-accent-100: {{ settings.colors_accent_light }};
  --color-text: {{ settings.colors_text }};
  --color-background-400: {{ settings.colors_background_2 }};
  --color-background-100: {{ settings.colors_background_1 }};
  --color-white: {{ settings.colors_solid_button_labels }};
  --page-width: {{ settings.page_width }};
  --theme: {{ settings.colors_theme }};

  /* Fonts FS = FONT SIZE*/

  --fs-para: 0.875rem;

  /* Buttons */
  --button-width: 10rem;
  --button-height: 3rem;

  /* PW = PAGE WIDTH*/
  --pw-desktop: 1280px;
  --pw-


  }



  /*
  1. Use a more-intuitive box-sizing model.
  */
  *,
  *::before,
  *::after {
  box-sizing: border-box;
  }
  /*
  2. Remove default margin
  */
  * {
  margin: 0;
  }
  /*
  3. Allow percentage-based heights in the application
  */
  html,
  body {
  height: 100%;
  }
  /*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
  */
  body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  }
  /*
  6. Improve media defaults
  */
  img,
  picture,
  video,
  canvas,
  svg {
  display: block;
  max-width: 100%;
  }
  /*
  7. Remove built-in form typography styles
  */
  input,
  button,
  textarea,
  select {
  font: inherit;
  }
  /*
  8. Avoid text overflows
  */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  overflow-wrap: break-word;
  font-family: sans-serif;
  text-transform: uppercase;
  }
  /*
  9. Create a root stacking context
  */
  #root,
  #__next {
  isolation: isolate;
  }

  main {
  /*Setting the min-height to 100vh solves the centering problem */

  min-height: 100vh;
  display: grid;
  place-content: center;
  }

  h1 {
  font-size: clamp(1rem, 3.5rem, 4vw);
  line-height: clamp(2rem, 3.65rem, 4vw);
  letter-spacing: 1.5px;
  }

  h2 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: 1.15px;
  }

  p {
  line-height: 25px;
  }



  button {


  border:none;
  font-family: sans-serif ;
  font-size: var(--fs-para);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-accent-400);
  width: var(--button-width);
  height: var(--button-height);
  }

  {% endstyle %}

  {{ 'base.css' | asset_url | stylesheet_tag }}


  {%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print"
    onload="this.media='all'">
  {%- endif -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
  </script>
</head>

<body class="">
  {%- comment -%}
  ACCESSIBILITY
  {%- endcomment -%}
  <a class="skip-to-content-link button visually-hidden" href="#MainContent">
    {{ "accessibility.skip_to_text" | t }}
  </a>

  {%- comment -%}
  SETTES I THEME SETTINGS. KAN VELGE PAGE ELLER DRAWER. PAGE ER NY SIDE, DRAWER KOMMER UT FRA SIDEN
  {%- endcomment -%}
  {%- if settings.cart_type == 'drawer' -%}
  {%- render 'cart-drawer' -%}
  {%- endif -%}


  {%- comment -%}
  SETTER INN ANNOUNCEMENT BAR PÅ FORSIDEN - KAN OGSÅ STYRES I SETTINGS_DATA
  {%- endcomment -%}
  {% section 'announcement-bar' %}

  {%- comment -%}
  SETTER INN HEADER
  {%- endcomment -%}
  {% section 'SLAY__header' %}

  {%- comment -%}
  SETTER INN DET VI HAR I INDEX.JSON
  {%- endcomment -%}
  <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    {{ content_for_layout }}
  </main>


  {% section 'footer' %}



  {%- comment -%}
  ACCESSIBILITY-STUFF
  {%- endcomment -%}
  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
  </ul>

  <script>
    window.shopUrl = '{{ request.origin }}';
    window.routes = {
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_update_url: '{{ routes.cart_update_url }}',
      cart_url: '{{ routes.cart_url }}',
      predictive_search_url: '{{ routes.predictive_search_url }}'
    };

    window.cartStrings = {
      error: `{{ 'sections.cart.cart_error' | t }}`,
      quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
    }

    window.variantStrings = {
      addToCart: `{{ 'products.product.add_to_cart' | t }}`,
      soldOut: `{{ 'products.product.sold_out' | t }}`,
      unavailable: `{{ 'products.product.unavailable' | t }}`,
      unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`
    }

    window.accessibilityStrings = {
      imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
      shareSuccess: `{{ 'general.share.success_message' | t }}`,
      pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
      playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`
    }
  </script>

  {%- if settings.predictive_search_enabled -%}
  <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
</body>

</html>